*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    /*font-family: Arial, Helvetica, sans-serif;*/
}


.container{
    border: 1px solid black;
    margin-top: 100px;
    box-sizing: border-box;
    position: center;
    padding:23px
}

.container .mb-3 input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button], button[type=submit] {
    background-color: #870d0d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/*input[type=checkbox] {
    /*-webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;*/
    /*display: inline-block;
    width: 20px;
}*/

table{
    width: auto;
}

.btn a{
    text-decoration: none;
    padding: 10px;
    background-color: #870d0d;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.btn2, .btn2 a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(86, 86, 217);
    color: rgb(233, 201, 17);
}

.btn3 , .btn3 a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(226, 71, 71);
    color: rgb(0, 0, 0);
}

.d-nav {
    display:inline-flex;
    color: #870d0d;
    margin-left: 1100px;
}

h3{
    font-size: 12px;
    color: #333;

}

h3 span{
    background-color: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;

}

h1{
    font-size: 30px;
    color: #333;
    text-align: center;
}

h1 span{
    color: crimson;
}


.btn4{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 15px;
    background-color: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.btn4:hover{
    background-color: crimson;
}
